{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces?properties=dnssuffix",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">azurewebsites.net</string>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<WebSpaces xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1067-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4769-4b27-930e-01e2ef9c123c</Subscription>\r\n    <WorkerSize i:nil=\"true\" />\r\n  </WebSpace>\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1186-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Site>\r\n    <AdminEnabled>true</AdminEnabled>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <Cers i:nil=\"true\" />\r\n    <ComputeMode>Shared</ComputeMode>\r\n    <ContentAvailabilityState>Normal</ContentAvailabilityState>\r\n    <Csrs />\r\n    <DeploymentId>onesdk3286</DeploymentId>\r\n    <Enabled>true</Enabled>\r\n    <EnabledHostNames xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>onesdk3286.azurewebsites.net</a:string>\r\n      <a:string>onesdk3286.scm.azurewebsites.net</a:string>\r\n    </EnabledHostNames>\r\n    <HostNameSslStates>\r\n      <HostNameSslState>\r\n        <IPBasedSslState>NotConfigured</IPBasedSslState>\r\n        <IpBasedSslResult i:nil=\"true\" />\r\n        <Name>onesdk3286.azurewebsites.net</Name>\r\n        <SslState>Disabled</SslState>\r\n        <Thumbprint i:nil=\"true\" />\r\n        <ToUpdate i:nil=\"true\" />\r\n        <ToUpdateIpBasedSsl i:nil=\"true\" />\r\n        <VirtualIP i:nil=\"true\" />\r\n      </HostNameSslState>\r\n      <HostNameSslState>\r\n        <IPBasedSslState>NotConfigured</IPBasedSslState>\r\n        <IpBasedSslResult i:nil=\"true\" />\r\n        <Name>onesdk3286.scm.azurewebsites.net</Name>\r\n        <SslState>Disabled</SslState>\r\n        <Thumbprint i:nil=\"true\" />\r\n        <ToUpdate i:nil=\"true\" />\r\n        <ToUpdateIpBasedSsl i:nil=\"true\" />\r\n        <VirtualIP i:nil=\"true\" />\r\n      </HostNameSslState>\r\n    </HostNameSslStates>\r\n    <HostNames xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>onesdk3286.azurewebsites.net</a:string>\r\n    </HostNames>\r\n    <LastModifiedTimeUtc>2014-07-14T23:21:36.7</LastModifiedTimeUtc>\r\n    <Name>onesdk3286</Name>\r\n    <Owner i:nil=\"true\" />\r\n    <RepositorySiteName>onesdk3286</RepositorySiteName>\r\n    <RuntimeAvailabilityState>Normal</RuntimeAvailabilityState>\r\n    <SKU>Free</SKU>\r\n    <SSLCertificates />\r\n    <SelfLink>https://waws-prod-bay-011.api.azurewebsites.windows.net:454/20130801/websystems/websites/web/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/webspaces/csmrg1067-WestUSwebspace/sites/onesdk3286</SelfLink>\r\n    <ServerFarm>Default1</ServerFarm>\r\n    <SiteConfig i:nil=\"true\" />\r\n    <SiteMode>Limited</SiteMode>\r\n    <SiteProperties>\r\n      <AppSettings i:nil=\"true\" />\r\n      <Metadata i:nil=\"true\" />\r\n      <Properties>\r\n        <NameValuePair>\r\n          <Name>RepositoryUri</Name>\r\n          <Value>https://onesdk3286.scm.azurewebsites.net</Value>\r\n        </NameValuePair>\r\n        <NameValuePair>\r\n          <Name>PublishingUsername</Name>\r\n          <Value>$onesdk3286</Value>\r\n        </NameValuePair>\r\n        <NameValuePair>\r\n          <Name>PublishingPassword</Name>\r\n          <Value>7nv7bvZh2ctQihBNpLRQDBq9hWnukd4S4xauFGcWJ0h8XgxflN9hF3gHaxCE</Value>\r\n        </NameValuePair>\r\n      </Properties>\r\n    </SiteProperties>\r\n    <State>Running</State>\r\n    <StorageRecoveryDefaultState>Running</StorageRecoveryDefaultState>\r\n    <TrafficManagerHostNames i:nil=\"true\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n    <UsageState>Normal</UsageState>\r\n    <WebHostingPlan i:nil=\"true\" />\r\n    <WebSpace>csmrg1067-WestUSwebspace</WebSpace>\r\n  </Site>\r\n</Sites>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/destanko-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/mysqlrep002-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource3-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource9697-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg2256-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xDeploymentTestGroup7134-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/zoo-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Site>\r\n    <Admin[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/destanko-EastUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource3382-EastUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/eastuswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/northcentraluswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/onesdk3961-BrazilSouthwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/westeuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/westuswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Site>\r\n    <AdminEnabled>t[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResourceSet2417-EastUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites",
      "RequestMethod": "POST",
      "RequestBody": "<Site xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <HostNames>\r\n    <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">onesdk3286.azurewebsites.net</string>\r\n  </HostNames>\r\n  <Name>onesdk3286</Name>\r\n  <WebSpace>csmrg1067-WestUSwebspace</WebSpace>\r\n  <WebSpaceToCreate>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1067-WestUSwebspace</Name>\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n  </WebSpaceToCreate>\r\n</Site>",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Site xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AdminEnabled>true</AdminEnabled>\r\n  <AvailabilityState>Normal</AvailabilityState>\r\n  <Cers i:nil=[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk3286?propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Site xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AdminEnab[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk3286/config",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<SiteConfig xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AlwaysOn>false</AlwaysOn>\r\n  <AppSettings>\r\n    <NameValuePair>\r\n      <Name>WEBSITE_NODE_DEFAULT_VERSION</Name>\r\n      <Value>0.10.29</Value>\r\n    </NameValuePair>\r\n  </AppSettings>\r\n  <ConnectionStrings />\r\n  <CustomAppPoolIdentityAdminState>true</CustomAppPoolIdentityAdminState>\r\n  <CustomAppPoolIdentityTenantState>false</CustomAppPoolIdentityTenantState>\r\n  <DefaultDocuments xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n    <a:string>Default.htm</a:string>\r\n    <a:string>Default.html</a:string>\r\n    <a:string>Default.asp</a:string>\r\n    <a:string>index.htm</a:string>\r\n    <a:string>index.html</a:string>\r\n    <a:string>iisstart.htm</a:string>\r\n    <a:string>default.aspx</a:string>\r\n    <a:string>index.php</a:string>\r\n    <a:string>hostingstart.html</a:string>\r\n  </DefaultDocuments>\r\n  <DetailedErrorLoggingEnabled>false</DetailedErrorLoggingEnabled>\r\n  <DocumentRoot i:nil=\"true\" />\r\n  <HandlerMappings i:nil=\"true\" />\r\n  <HttpLoggingEnabled>false</HttpLoggingEnabled>\r\n  <JavaContainer i:nil=\"true\" />\r\n  <JavaContainerVersion i:nil=\"true\" />\r\n  <JavaVersion i:nil=\"true\" />\r\n  <LoadBalancing>LeastRequests</LoadBalancing>\r\n  <LogsDirectorySizeLimit>35</LogsDirectorySizeLimit>\r\n  <ManagedPipelineMode>Integrated</ManagedPipelineMode>\r\n  <Metadata />\r\n  <NetFrameworkVersion>v4.0</NetFrameworkVersion>\r\n  <NumberOfWorkers>1</NumberOfWorkers>\r\n  <PhpVersion>5.4</PhpVersion>\r\n  <PublishingPassword>7nv7bvZh2ctQihBNpLRQDBq9hWnukd4S4xauFGcWJ0h8XgxflN9hF3gHaxCE</PublishingPassword>\r\n  <PublishingUsername>$onesdk3286</PublishingUsername>\r\n  <PythonVersion />\r\n  <RemoteDebuggingEnabled>false</RemoteDebuggingEnabled>\r\n  <RemoteDebuggingVersion i:nil=\"true\" />\r\n  <RequestTracingEnabled>false</RequestTracingEnabled>\r\n  <RequestTracingExpirationTime i:nil=\"true\" />\r\n  <RoutingRules />\r\n  <RuntimeADUser i:nil=\"true\" />\r\n  <RuntimeADUserPassword i:nil=\"true\" />\r\n  <ScmType>None</ScmType>\r\n  <Use32BitWorkerProcess>true</Use32BitWorkerProcess>\r\n  <VirtualApplications>\r\n    <VirtualApplication>\r\n      <PhysicalPath>site\\wwwroot</PhysicalPath>\r\n      <PreloadEnabled>false</PreloadEnabled>\r\n      <VirtualDirectories i:nil=\"true\" />\r\n      <VirtualPath>/</VirtualPath>\r\n    </VirtualApplication>\r\n  </VirtualApplications>\r\n  <WebSocketsEnabled>false</WebSocketsEnabled>\r\n  <WinAuthAdminState>0</WinAuthAdminState>\r\n  <WinAuthTenantState>0</WinAuthTenantState>\r\n</SiteConfig>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk3286/instanceids",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<ArrayOfstring xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <string>37201d4e30b9422ff64889e3aebd155f0da671525de53180e951cb4ee1f68a7b</string>\r\n</ArrayOfstring>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk3286?deleteEmptyServerFarm=false&deleteMetrics=false&deleteAllSlots=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SetAzureWebsite": [
      "onesdk3286"
    ]
  },
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}