{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces?properties=dnssuffix",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">azurewebsites.net</string>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<WebSpaces xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1067-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4769-4b27-930e-01e2ef9c123c</Subscription>\r\n    <WorkerSize i:nil=\"true\" />\r\n  </WebSpace>\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1186-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Site>\r\n    <AdminEnabled>true</AdminEnabled>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <Cers i:nil=\"true\" />\r\n    <ComputeMode>Shared</ComputeMode>\r\n    <ContentAvailabilityState>Normal</ContentAvailabilityState>\r\n    <Csrs />\r\n    <DeploymentId>onesdk5768</DeploymentId>\r\n    <Enabled>true</Enabled>\r\n    <EnabledHostNames xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>onesdk5768.azurewebsites.net</a:string>\r\n      <a:string>onesdk5768.scm.azurewebsites.net</a:string>\r\n    </EnabledHostNames>\r\n    <HostNameSslStates>\r\n      <HostNameSslState>\r\n        <IPBasedSslState>NotConfigured</IPBasedSslState>\r\n        <IpBasedSslResult i:nil=\"true\" />\r\n        <Name>onesdk5768.azurewebsites.net</Name>\r\n        <SslState>Disabled</SslState>\r\n        <Thumbprint i:nil=\"true\" />\r\n        <ToUpdate i:nil=\"true\" />\r\n        <ToUpdateIpBasedSsl i:nil=\"true\" />\r\n        <VirtualIP i:nil=\"true\" />\r\n      </HostNameSslState>\r\n      <HostNameSslState>\r\n        <IPBasedSslState>NotConfigured</IPBasedSslState>\r\n        <IpBasedSslResult i:nil=\"true\" />\r\n        <Name>onesdk5768.scm.azurewebsites.net</Name>\r\n        <SslState>Disabled</SslState>\r\n        <Thumbprint i:nil=\"true\" />\r\n        <ToUpdate i:nil=\"true\" />\r\n        <ToUpdateIpBasedSsl i:nil=\"true\" />\r\n        <VirtualIP i:nil=\"true\" />\r\n      </HostNameSslState>\r\n    </HostNameSslStates>\r\n    <HostNames xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>onesdk5768.azurewebsites.net</a:string>\r\n    </HostNames>\r\n    <LastModifiedTimeUtc>2014-07-14T23:03:01.143</LastModifiedTimeUtc>\r\n    <Name>onesdk5768</Name>\r\n    <Owner i:nil=\"true\" />\r\n    <RepositorySiteName>onesdk5768</RepositorySiteName>\r\n    <RuntimeAvailabilityState>Normal</RuntimeAvailabilityState>\r\n    <SKU>Free</SKU>\r\n    <SSLCertificates />\r\n    <SelfLink>https://waws-prod-bay-011.api.azurewebsites.windows.net:454/20130801/websystems/websites/web/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/webspaces/csmrg1067-WestUSwebspace/sites/onesdk5768</SelfLink>\r\n    <ServerFarm>Default1</ServerFarm>\r\n    <SiteConfig i:nil=\"true\" />\r\n    <SiteMode>Limited</SiteMode>\r\n    <SiteProperties>\r\n      <AppSettings i:nil=\"true\" />\r\n      <Metadata i:nil=\"true\" />\r\n      <Properties>\r\n        <NameValuePair>\r\n          <Name>RepositoryUri</Name>\r\n          <Value>https://onesdk5768.scm.azurewebsites.net</Value>\r\n        </NameValuePair>\r\n        <NameValuePair>\r\n          <Name>PublishingUsername</Name>\r\n          <Value>$onesdk5768</Value>\r\n        </NameValuePair>\r\n        <NameValuePair>\r\n          <Name>PublishingPassword</Name>\r\n          <Value>8qYa9Y0wsjsisfsi92k3tHhK4Fe6vgdNDpgcvknHB6vfyCml8mPvwLeBBisH</Value>\r\n        </NameValuePair>\r\n      </Properties>\r\n    </SiteProperties>\r\n    <State>Running</State>\r\n    <StorageRecoveryDefaultState>Running</StorageRecoveryDefaultState>\r\n    <TrafficManagerHostNames i:nil=\"true\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n    <UsageState>Normal</UsageState>\r\n    <WebHostingPlan i:nil=\"true\" />\r\n    <WebSpace>csmrg1067-WestUSwebspace</WebSpace>\r\n  </Site>\r\n</Sites>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
