{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<WebSpaces xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1067-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4769-4b27-930e-01e2ef9c123c</Subscription>\r\n    <WorkerSize i:nil=\"true\" />\r\n  </WebSpace>\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1186-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces?properties=georegions",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<GeoRegions xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <GeoRegion>\r\n    <Description i:nil=\"true\" />\r\n    <DisplayName>East US 2</DisplayName>\r\n    <Name>East US 2</Name>\r\n    <SortOrder>0</SortOrder>\r\n  </GeoRegion>\r\n  <GeoRegion>\r\n    <Description i:nil=\"true\" />\r\n    <DisplayName>Central US</DisplayName>\r\n    <Name>Central US</Name>\r\n    <SortOrder>1</SortOrder>\r\n  </GeoRegion>\r\n  <GeoRegion>\r\n    <Description i:nil=\"true\" />\r\n    <DisplayName>East US</DisplayName>\r\n    <Name>East US</Name>\r\n    <SortOrder>2</SortOrder>\r\n  </GeoRegion>\r\n  <GeoRegion>\r\n    <Description i:nil=\"true\" />\r\n    <DisplayName>West US</DisplayName>\r\n    <Name>We[...]
