{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>South Central US</Name>\r\n    <DisplayName>South Central US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/0b28e13dae28b2a7818de20c6299c826",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>0b28e13d-ae28-b2a7-818d-e20c6299c826</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces?properties=dnssuffix",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">azurewebsites.net</string>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<WebSpaces xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1067-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4769-4b27-930e-01e2ef9c123c</Subscription>\r\n    <WorkerSize i:nil=\"true\" />\r\n  </WebSpace>\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1186-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Site>\r\n    <AdminEnabled>true</AdminEnabled>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <Cers i:nil=\"true\" />\r\n    <ComputeMode>Shared</ComputeMode>\r\n    <ContentAvailabilityState>Normal</ContentAvailabilityState>\r\n    <Csrs />\r\n    <DeploymentId>onesdk5445</DeploymentId>\r\n    <Enabled>true</Enabled>\r\n    <EnabledHostNames xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>onesdk5445.azurewebsites.net</a:string>\r\n      <a:string>onesdk5445.scm.azurewebsites.net</a:string>\r\n    </EnabledHostNames>\r\n    <HostNameSslStates>\r\n      <HostNameSslState>\r\n        <IPBasedSslState>NotConfigured</IPBasedSslState>\r\n        <IpBasedSslResult i:nil=\"true\" />\r\n        <Name>onesdk5445.azurewebsites.net</Name>\r\n        <SslState>Disabled</SslState>\r\n        <Thumbprint i:nil=\"true\" />\r\n        <ToUpdate i:nil=\"true\" />\r\n        <ToUpdateIpBasedSsl i:nil=\"true\" />\r\n        <VirtualIP i:nil=\"true\" />\r\n      </HostNameSslState>\r\n      <HostNameSslState>\r\n        <IPBasedSslState>NotConfigured</IPBasedSslState>\r\n        <IpBasedSslResult i:nil=\"true\" />\r\n        <Name>onesdk5445.scm.azurewebsites.net</Name>\r\n        <SslState>Disabled</SslState>\r\n        <Thumbprint i:nil=\"true\" />\r\n        <ToUpdate i:nil=\"true\" />\r\n        <ToUpdateIpBasedSsl i:nil=\"true\" />\r\n        <VirtualIP i:nil=\"true\" />\r\n      </HostNameSslState>\r\n    </HostNameSslStates>\r\n    <HostNames xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>onesdk5445.azurewebsites.net</a:string>\r\n    </HostNames>\r\n    <LastModifiedTimeUtc>2014-07-15T00:04:08.753</LastModifiedTimeUtc>\r\n    <Name>onesdk5445</Name>\r\n    <Owner i:nil=\"true\" />\r\n    <RepositorySiteName>onesdk5445</RepositorySiteName>\r\n    <RuntimeAvailabilityState>Normal</RuntimeAvailabilityState>\r\n    <SKU>Free</SKU>\r\n    <SSLCertificates />\r\n    <SelfLink>https://waws-prod-bay-011.api.azurewebsites.windows.net:454/20130801/websystems/websites/web/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/webspaces/csmrg1067-WestUSwebspace/sites/onesdk5445</SelfLink>\r\n    <ServerFarm>Default1</ServerFarm>\r\n    <SiteConfig i:nil=\"true\" />\r\n    <SiteMode>Limited</SiteMode>\r\n    <SiteProperties>\r\n      <AppSettings i:nil=\"true\" />\r\n      <Metadata i:nil=\"true\" />\r\n      <Properties>\r\n        <NameValuePair>\r\n          <Name>RepositoryUri</Name>\r\n          <Value>https://onesdk5445.scm.azurewebsites.net</Value>\r\n        </NameValuePair>\r\n        <NameValuePair>\r\n          <Name>PublishingUsername</Name>\r\n          <Value>$onesdk5445</Value>\r\n        </NameValuePair>\r\n        <NameValuePair>\r\n          <Name>PublishingPassword</Name>\r\n          <Value>WCX6S1ozEL78niXPWk0e23BfwaPPvaqnW017JlJmfytSqk49irygZnQHx42J</Value>\r\n        </NameValuePair>\r\n      </Properties>\r\n    </SiteProperties>\r\n    <State>Running</State>\r\n    <StorageRecoveryDefaultState>Running</StorageRecoveryDefaultState>\r\n    <TrafficManagerHostNames i:nil=\"true\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n    <UsageState>Normal</UsageState>\r\n    <WebHostingPlan i:nil=\"true\" />\r\n    <WebSpace>csmrg1067-WestUSwebspace</WebSpace>\r\n  </Site>\r\n</Sites>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/destanko-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/mysqlrep002-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource3-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource9697-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg2256-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xDeploymentTestGroup7134-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/zoo-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/destanko-EastUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource3382-EastUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/eastuswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/northcentraluswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/onesdk3961-BrazilSouthwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/westeuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/westuswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
