{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>South Central US</Name>\r\n    <DisplayName>South Central US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/18a75c2ee813b1f781773875578533f5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>18a75c2e-e813-b1f7-8177-3875578533f5</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces?properties=dnssuffix",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">azurewebsites.net</string>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<WebSpaces xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1067-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4769-4b27-930e-01e2ef9c123c</Subscription>\r\n    <WorkerSize i:nil=\"true\" />\r\n  </WebSpace>\r\n  <WebSpace>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <ComputeMode i:nil=\"true\" />\r\n    <CurrentNumberOfWorkers i:nil=\"true\" />\r\n    <CurrentWorkerSize i:nil=\"true\" />\r\n    <GeoLocation>bay</GeoLocation>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1186-WestUSwebspace</Name>\r\n    <NumberOfWorkers i:nil=\"true\" />\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n    <Status>Ready</Status>\r\n    <Subscription>db1ab6f0-4[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Site>\r\n    <AdminEnabled>true</AdminEnabled>\r\n    <AvailabilityState>Normal</AvailabilityState>\r\n    <Cers i:nil=\"true\" />\r\n    <ComputeMode>Shared</ComputeMode>\r\n    <ContentAvailabilityState>Normal</ContentAvailabilityState>\r\n    <Csrs />\r\n    <DeploymentId>onesdk405</DeploymentId>\r\n    <Enabled>true</Enabled>\r\n    <EnabledHostNames xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>onesdk405.azurewebsites.net</a:string>\r\n      <a:string>onesdk405.scm.azurewebsites.net</a:string>\r\n    </EnabledHostNames>\r\n    <HostNameSslStates>\r\n      <HostNameSslState>\r\n        <IPBasedSslState>NotConfigured</IPBasedSslState>\r\n        <IpBasedSslResult i:nil=\"true\" />\r\n        <Name>onesdk405.azurewebsites.net</Name>\r\n        <SslState>Disabled</SslState>\r\n        <Thumbprint i:nil=\"true\" />\r\n        <ToUpdate i:nil=\"true\" />\r\n        <ToUpdateIpBasedSsl i:nil=\"true\" />\r\n        <VirtualIP i:nil=\"true\" />\r\n      </HostNameSslState>\r\n      <HostNameSslState>\r\n        <IPBasedSslState>NotConfigured</IPBasedSslState>\r\n        <IpBasedSslResult i:nil=\"true\" />\r\n        <Name>onesdk405.scm.azurewebsites.net</Name>\r\n        <SslState>Disabled</SslState>\r\n        <Thumbprint i:nil=\"true\" />\r\n        <ToUpdate i:nil=\"true\" />\r\n        <ToUpdateIpBasedSsl i:nil=\"true\" />\r\n        <VirtualIP i:nil=\"true\" />\r\n      </HostNameSslState>\r\n    </HostNameSslStates>\r\n    <HostNames xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>onesdk405.azurewebsites.net</a:string>\r\n    </HostNames>\r\n    <LastModifiedTimeUtc>2014-07-14T23:24:40.693</LastModifiedTimeUtc>\r\n    <Name>onesdk405</Name>\r\n    <Owner i:nil=\"true\" />\r\n    <RepositorySiteName>onesdk405</RepositorySiteName>\r\n    <RuntimeAvailabilityState>Normal</RuntimeAvailabilityState>\r\n    <SKU>Free</SKU>\r\n    <SSLCertificates />\r\n    <SelfLink>https://waws-prod-bay-011.api.azurewebsites.windows.net:454/20130801/websystems/websites/web/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/webspaces/csmrg1067-WestUSwebspace/sites/onesdk405</SelfLink>\r\n    <ServerFarm>Default1</ServerFarm>\r\n    <SiteConfig i:nil=\"true\" />\r\n    <SiteMode>Limited</SiteMode>\r\n    <SiteProperties>\r\n      <AppSettings i:nil=\"true\" />\r\n      <Metadata i:nil=\"true\" />\r\n      <Properties>\r\n        <NameValuePair>\r\n          <Name>RepositoryUri</Name>\r\n          <Value>https://onesdk405.scm.azurewebsites.net</Value>\r\n        </NameValuePair>\r\n        <NameValuePair>\r\n          <Name>PublishingUsername</Name>\r\n          <Value>$onesdk405</Value>\r\n        </NameValuePair>\r\n        <NameValuePair>\r\n          <Name>PublishingPassword</Name>\r\n          <Value>n0qK0fAfs3s2eSniurqc1SGR0ZjrjcYf75coB6l2Mhm3HcFgmiioFrr9tgb0</Value>\r\n        </NameValuePair>\r\n      </Properties>\r\n    </SiteProperties>\r\n    <State>Running</State>\r\n    <StorageRecoveryDefaultState>Running</StorageRecoveryDefaultState>\r\n    <TrafficManagerHostNames i:nil=\"true\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n    <UsageState>Normal</UsageState>\r\n    <WebHostingPlan i:nil=\"true\" />\r\n    <WebSpace>csmrg1067-WestUSwebspace</WebSpace>\r\n  </Site>\r\n</Sites>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/destanko-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/mysqlrep002-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource3-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource9697-WestUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg2256-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xDeploymentTestGroup7134-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/zoo-NorthEuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Site>\r\n    <Admin[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/destanko-EastUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResource3382-EastUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/eastuswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/northcentraluswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/onesdk3961-BrazilSouthwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/westeuropewebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/westuswebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Site>\r\n    <AdminEnabled>t[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/xTestResourceSet2417-EastUSwebspace/sites?&propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Sites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites",
      "RequestMethod": "POST",
      "RequestBody": "<Site xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <HostNames>\r\n    <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">onesdk405.azurewebsites.net</string>\r\n  </HostNames>\r\n  <Name>onesdk405</Name>\r\n  <WebSpace>csmrg1067-WestUSwebspace</WebSpace>\r\n  <WebSpaceToCreate>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Name>csmrg1067-WestUSwebspace</Name>\r\n    <Plan>VirtualDedicatedPlan</Plan>\r\n  </WebSpaceToCreate>\r\n</Site>",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Site xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AdminEnabled>true</AdminEnabled>\r\n  <AvailabilityState>Normal</AvailabilityState>\r\n  <Cers i:nil=[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk405?propertiesToInclude=repositoryuri,publishingpassword,publishingusername",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<Site xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AdminEnabl[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk405/config",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<SiteConfig xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AlwaysOn>false</AlwaysOn>\r\n  <AppSettings>\r\n    <NameValuePair>\r\n      <Name>WEBSITE_NODE_DEFAULT_VERSION</Name>\r\n      <Value>0.10.29</Value>\r\n    </NameValuePair>\r\n  </AppSettings>\r\n  <ConnectionStrings />\r\n  <CustomAppPoolIdentityAdminState>true</CustomAppPoolIdentityAdminState>\r\n  <CustomAppPoolIdentityTenantState>false</CustomAppPoolIdentityTenantState>\r\n  <DefaultDocuments xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n    <a:string>Default.htm</a:string>\r\n    <a:string>Default.html</a:string>\r\n    <a:string>Default.asp</a:string>\r\n    <a:string>index.htm</a:string>\r\n    <a:string>index.html</a:string>\r\n    <a:string>iisstart.htm</a:string>\r\n    <a:string>default.aspx</a:string>\r\n    <a:string>index.php</a:string>\r\n    <a:string>hostingstart.html</a:string>\r\n  </DefaultDocuments>\r\n  <DetailedErrorLoggingEnabled>false</DetailedErrorLoggingEnabled>\r\n  <DocumentRoot i:nil=\"true\" />\r\n  <HandlerMappings i:nil=\"true\" />\r\n  <HttpLoggingEnabled>false</HttpLoggingEnabled>\r\n  <JavaContainer i:nil=\"true\" />\r\n  <JavaContainerVersion i:nil=\"true\" />\r\n  <JavaVersion i:nil=\"true\" />\r\n  <LoadBalancing>LeastRequests</LoadBalancing>\r\n  <LogsDirectorySizeLimit>35</LogsDirectorySizeLimit>\r\n  <ManagedPipelineMode>Integrated</ManagedPipelineMode>\r\n  <Metadata />\r\n  <NetFrameworkVersion>v4.0</NetFrameworkVersion>\r\n  <NumberOfWorkers>1</NumberOfWorkers>\r\n  <PhpVersion>5.4</PhpVersion>\r\n  <PublishingPassword>n0qK0fAfs3s2eSniurqc1SGR0ZjrjcYf75coB6l2Mhm3HcFgmiioFrr9tgb0</PublishingPassword>\r\n  <PublishingUsername>$onesdk405</PublishingUsername>\r\n  <PythonVersion />\r\n  <RemoteDebuggingEnabled>false</RemoteDebuggingEnabled>\r\n  <RemoteDebuggingVersion i:nil=\"true\" />\r\n  <RequestTracingEnabled>false</RequestTracingEnabled>\r\n  <RequestTracingExpirationTime i:nil=\"true\" />\r\n  <RoutingRules />\r\n  <RuntimeADUser i:nil=\"true\" />\r\n  <RuntimeADUserPassword i:nil=\"true\" />\r\n  <ScmType>None</ScmType>\r\n  <Use32BitWorkerProcess>true</Use32BitWorkerProcess>\r\n  <VirtualApplications>\r\n    <VirtualApplication>\r\n      <PhysicalPath>site\\wwwroot</PhysicalPath>\r\n      <PreloadEnabled>false</PreloadEnabled>\r\n      <VirtualDirectories i:nil=\"true\" />\r\n      <VirtualPath>/</VirtualPath>\r\n    </VirtualApplication>\r\n  </VirtualApplications>\r\n  <WebSocketsEnabled>false</WebSocketsEnabled>\r\n  <WinAuthAdminState>0</WinAuthAdminState>\r\n  <WinAuthTenantState>0</WinAuthTenantState>\r\n</SiteConfig>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk405/config",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<SiteConfig xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AlwaysOn>false</AlwaysOn>\r\n  <AppSettings>\r\n    <NameValuePair>\r\n      <Name>WEBSITE_NODE_DEFAULT_VERSION</Name>\r\n      <Value>0.10.29</Value>\r\n    </NameValuePair>\r\n  </AppSettings>\r\n  <ConnectionStrings>\r\n    <ConnStringInfo>\r\n      <ConnectionString>BlobEndpoint=https://onesdk5195.blob.core.windows.net/;QueueEndpoint=https://onesdk5195.queue.core.windows.net/;TableEndpoint=https://onesdk5195.table.core.windows.net/;AccountName=onesdk5195;AccountKey=4i97HUQwrVYUG7uZ05tMd+lo5aX6o2ZLPmVoM1yahHI7LA3mAp4Z17vWp/gK1EuQihfsLTRx8iydu9frb+5oGg==</ConnectionString>\r\n      <Name>CLOUD_STORAGE_ACCOUNT</Name>\r\n      <Type>Custom</Type>\r\n    </ConnStringInfo>\r\n  </ConnectionStrings>\r\n  <CustomAppPoolIdentityAdminState>true</CustomAppPoolIdentityAdminState>\r\n  <CustomAppPoolIdentityTenantState>false</CustomAppPoolIdentityTenantState>\r\n  <DefaultDocuments xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n    <a:string>Default.htm</a:string>\r\n    <a:string>Default.html</a:string>\r\n    <a:string>Default.asp</a:string>\r\n    <a:string>index.htm</a:string>\r\n    <a:string>index.ht[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>onesdk5195</ServiceName>\r\n  <Label>b25lc2RrNTE5NQ==</Label>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Location>South Central US</Location>\r\n  <GeoReplicationEnabled>true</GeoReplicationEnabled>\r\n  <ExtendedProperties />\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ],
        "client-tracking-id": [
          "4300"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/storage/onesdk5195"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/storageservices/onesdk5195",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/storageservices/onesdk5195</Url>\r\n  <ServiceName>onesdk5195</ServiceName>\r\n  <StorageServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>South Central US</Location>\r\n    <Label>b25lc2RrNTE5NQ==</Label>\r\n    <Status>Created</Status>\r\n    <Endpoints>\r\n      <Endpoint>https://onesdk5195.blob.core.windows.net/</Endpoint>\r\n      <Endpoint>https://onesdk5195.queue.core.windows.net/</Endpoint>\r\n      <Endpoint>https://onesdk5195.table.core.windows.net/</Endpoint>\r\n    </Endpoints>\r\n    <GeoReplicationEnabled>true</GeoReplicationEnabled>\r\n    <GeoPrimaryRegion>South Central US</GeoPrimaryRegion>\r\n    <StatusOfPrimary>Available</StatusOfPrimary>\r\n    <GeoSecondaryRegion>North Central US</GeoSecondaryRegion>\r\n    <StatusOfSecondary>Available</StatusOfSecondary>\r\n    <CreationTime>2014-07-14T23:24:47Z</CreationTime>\r\n    <CustomDomains />\r\n    <SecondaryReadEnabled>false</SecondaryReadEnabled>\r\n  </StorageServiceProperties>\r\n  <ExtendedProperties />\r\n  <Capabilities>\r\n    <Capability>PersistentVMRole</Capability>\r\n  </Capabilities>\r\n</StorageService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/storageservices/onesdk5195/keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/storageservices/onesdk5195</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>4i97HUQwrVYUG7uZ05tMd+lo5aX6o2ZLPmVoM1yahHI7LA3mAp4Z17vWp/gK1EuQihfsLTRx8iydu9frb+5oGg==</Primary>\r\n    <Secondary>F5xiT+2k+DRWaUmfdQrjcYpirLIosVCMWlEpHf3+34jdZekI42mra+9+GAXgBtEu4YlQ6kV5Ul2y/2FaFWi9FQ==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk405/instanceids",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<ArrayOfstring xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <string>fb9d78f55255f8358c4a5c5350124fbbc0b7e49e53329fc11d89b38196d4fd29</string>\r\n</ArrayOfstring>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WebSpaces/csmrg1067-WestUSwebspace/sites/onesdk405?deleteEmptyServerFarm=false&deleteMetrics=false&deleteAllSlots=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-EnableApplicationDiagnosticOnTableStorage": [
      "onesdk405",
      "onesdk5195"
    ]
  },
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}