[
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk2667",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">Request to a downlevel service failed.</string>",
    "ResponseHeaders": {
    },
    "StatusCode": 404
  },
[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5361718</id>\r\n  <updated>2013-12-19T03:36:40Z</updated>\r\n  <entry>\r\n    <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5361719</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:36:40Z</updated>\r\n    <content type=\"application/xml\">\r\n      <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Name>onesdk1213</Name>\r\n        <Region>East Asia</Region>\r\n        <Status>Active</Status>\r\n        <CreatedAt>2013-12-19T03:30:05.143Z</CreatedAt>\r\n        <AcsManagementEndpoint>https://onesdk1213-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n        <ServiceBusEndpoint>https://onesdk1213.servicebus.windows.net/</ServiceBusEndpoint>\r\n        <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n        <Enabled>true</Enabled>\r\n        <UpdatedAt>2013-12-19T03:30:32.41Z</UpdatedAt>\r\n      </NamespaceDescription>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5361720</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:36:40Z</updated>\r\n    <content type=\"application/xml\">\r\n      <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Name>onesdk5005</Name>\r\n        <Region>East Asia</Region>\r\n        <Status>Active</Status>\r\n        <CreatedAt>2013-12-19T03:29:34.167Z</CreatedAt>\r\n        <AcsManagementEndpoint>https://onesdk5005-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n        <ServiceBusEndpoint>https://onesdk5005.servicebus.windows.net/</ServiceBusEndpoint>\r\n        <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n        <Enabled>true</Enabled>\r\n        <UpdatedAt>2013-12-19T03:29:57.93Z</UpdatedAt>\r\n      </NamespaceDescription>\r\n    </content>\r\n  </entry>\r\n</feed>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  }
]