[
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk3926",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:4c70a3c5-c679-4c07-b48c-549a61d6fa0a;id=5016366</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2013-12-19T03:38:03Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>onesdk3926</Name>\r\n      <Region>East Asia</Region>\r\n      <Status>Activating</Status>\r\n      <CreatedAt>2013-12-19T03:36:53.55Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://onesdk3926-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://onesdk3926.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n      <UpdatedAt>2013-12-19T03:36:53.55Z</UpdatedAt>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk3926/ConnectionDetails",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:4c70a3c5-c679-4c07-b48c-549a61d6fa0a;id=5016907</id>\r\n  <updated>2013-12-19T03:39:25Z</updated>\r\n  <entry>\r\n    <id>uuid:4c70a3c5-c679-4c07-b48c-549a61d6fa0a;id=5016908</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:39:25Z</updated>\r\n    <content type=\"application/xml\">\r\n      <ConnectionDetail xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <KeyName>ACSOwnerKey</KeyName>\r\n        <ConnectionString>Endpoint=sb://onesdk3926.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=HWtvNzcOWbX5cNtSnpW844Jf17FUzi/0OTQ6Cz2IDn0=</ConnectionString>\r\n        <AuthorizationType>ACSAuthorization</AuthorizationType>\r\n        <Rights>\r\n          <AccessRights>Listen</AccessRights>\r\n          <AccessRights>Manage</AccessRights>\r\n          <AccessRights>Send</AccessRights>\r\n        </Rights>\r\n      </ConnectionDetail>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:4c70a3c5-c679-4c07-b48c-549a61d6fa0a;id=5016909</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:39:25Z</updated>\r\n    <content type=\"application/xml\">\r\n      <ConnectionDetail xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <KeyName>RootManageSharedAccessKey</KeyName>\r\n        <ConnectionString>Endpoint=sb://onesdk3926.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Z9xW7MifrAK12Ky2R7QQ4sCD/p6c7iWN86od7AvSf3I=</ConnectionString>\r\n        <SecondaryConnectionString>Endpoint=sb://onesdk3926.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=cBG/408wfHoTu4NO35aeqvJ5xu7z66QjEJMARpt0t3E=</SecondaryConnectionString>\r\n        <AuthorizationType>SharedAccessAuthorization</AuthorizationType>\r\n        <Rights>\r\n          <AccessRights>Listen</AccessRights>\r\n          <AccessRights>Manage</AccessRights>\r\n          <AccessRights>Send</AccessRights>\r\n        </Rights>\r\n      </ConnectionDetail>\r\n    </content>\r\n  </entry>\r\n</feed>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
