[
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk8974",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5364456</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2013-12-19T03:45:35Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>onesdk8974</Name>\r\n      <Region>East Asia</Region>\r\n      <Status>Active</Status>\r\n      <CreatedAt>2013-12-19T03:44:57.917Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://onesdk8974-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://onesdk8974.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n      <UpdatedAt>2013-12-19T03:45:29.917Z</UpdatedAt>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk8974/ConnectionDetails",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5364467</id>\r\n  <updated>2013-12-19T03:45:38Z</updated>\r\n  <entry>\r\n    <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5364468</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:45:38Z</updated>\r\n    <content type=\"application/xml\">\r\n      <ConnectionDetail xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <KeyName>ACSOwnerKey</KeyName>\r\n        <ConnectionString>Endpoint=sb://onesdk8974.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=KWyUDemTKgqCpZT72D2uj+4zXccTjBLxPSaC23nzVzU=</ConnectionString>\r\n        <AuthorizationType>ACSAuthorization</AuthorizationType>\r\n        <Rights>\r\n          <AccessRights>Listen</AccessRights>\r\n          <AccessRights>Manage</AccessRights>\r\n          <AccessRights>Send</AccessRights>\r\n        </Rights>\r\n      </ConnectionDetail>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5364469</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:45:38Z</updated>\r\n    <content type=\"application/xml\">\r\n      <ConnectionDetail xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <KeyName>RootManageSharedAccessKey</KeyName>\r\n        <ConnectionString>Endpoint=sb://onesdk8974.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=6klg3V3k8nT0aN51uImqUiCv2E+PMOsSOOEwU+/jv1k=</ConnectionString>\r\n        <SecondaryConnectionString>Endpoint=sb://onesdk8974.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=MSPgQhKEvnwENNGfYPM1C/EPmQSahnQVeWrNmYZ1gHg=</SecondaryConnectionString>\r\n        <AuthorizationType>SharedAccessAuthorization</AuthorizationType>\r\n        <Rights>\r\n          <AccessRights>Listen</AccessRights>\r\n          <AccessRights>Manage</AccessRights>\r\n          <AccessRights>Send</AccessRights>\r\n        </Rights>\r\n      </ConnectionDetail>\r\n    </content>\r\n  </entry>\r\n</feed>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:4c70a3c5-c679-4c07-b48c-549a61d6fa0a;id=5018782</id>\r\n  <updated>2013-12-19T03:45:47Z</updated>\r\n  <entry>\r\n    <[...]
[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk8974",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">Request to a downlevel service failed.</string>",
    "ResponseHeaders": {
    },
    "StatusCode": 404
  },
[...]
