[
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk2120",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5365881</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2013-12-19T03:51:06Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>onesdk2120</Name>\r\n      <Region>East Asia</Region>\r\n      <Status>Activating</Status>\r\n      <CreatedAt>2013-12-19T03:51:05.693Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://onesdk2120-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://onesdk2120.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n      <UpdatedAt>2013-12-19T03:51:05.693Z</UpdatedAt>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk2120/ConnectionDetails",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5365949</id>\r\n  <updated>2013-12-19T03:51:38Z</updated>\r\n  <entry>\r\n    <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5365950</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:51:38Z</updated>\r\n    <content type=\"application/xml\">\r\n      <ConnectionDetail xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <KeyName>ACSOwnerKey</KeyName>\r\n        <ConnectionString>Endpoint=sb://onesdk2120.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=jAN8sZ3RZJIFlbd2Ru1Nmax0kuP4fvhZV29eSRfKMes=</ConnectionString>\r\n        <AuthorizationType>ACSAuthorization</AuthorizationType>\r\n        <Rights>\r\n          <AccessRights>Listen</AccessRights>\r\n          <AccessRights>Manage</AccessRights>\r\n          <AccessRights>Send</AccessRights>\r\n        </Rights>\r\n      </ConnectionDetail>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5365951</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:51:38Z</updated>\r\n    <content type=\"application/xml\">\r\n      <ConnectionDetail xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <KeyName>RootManageSharedAccessKey</KeyName>\r\n        <ConnectionString>Endpoint=sb://onesdk2120.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=cNOt97IMwwU+UCPqoZXTNYT9R5/ZXe6q+HqmJ6/f7xA=</ConnectionString>\r\n        <SecondaryConnectionString>Endpoint=sb://onesdk2120.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=pV7ZHZa7cBgoZPDFtQjG51OInY8xu4TB7LGXLRfgSHk=</SecondaryConnectionString>\r\n        <AuthorizationType>SharedAccessAuthorization</AuthorizationType>\r\n        <Rights>\r\n          <AccessRights>Listen</AccessRights>\r\n          <AccessRights>Manage</AccessRights>\r\n          <AccessRights>Send</AccessRights>\r\n        </Rights>\r\n      </ConnectionDetail>\r\n    </content>\r\n  </entry>\r\n</feed>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/regions",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5180222</id>\r\n  <updated>2013-12-19T03:51:39Z</updated>\r\n  <entry>\r\n    <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5180223</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:51:39Z</updated>\r\n    <content type=\"application/xml\">\r\n      <RegionCodeDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Code>East Asia</Code>\r\n        <FullName>East Asia</FullName>\r\n      </RegionCodeDescription>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5180224</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:51:39Z</updated>\r\n    <content type=\"application/xml\">\r\n      <RegionCodeDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Code>West Europe</Code>\r\n [...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/ServiceBus/CheckNamespaceAvailability?namespace=onesdk1006",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-06-01"
      ]
    },
    "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5365961</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2013-12-19T03:51:41Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceAvailability xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Result>true</Result>\r\n      <ReasonDetail i:nil=\"true\" />\r\n    </NamespaceAvailability>\r\n  </content>\r\n</entry>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk1006",
    "RequestMethod": "PUT",
    "RequestBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n      <Region>East Asia</Region>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "RequestHeaders": {
      "type": [
        "entry"
      ],
      "x-ms-version": [
        "2013-07-01"
      ]
    },
    "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5180258</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2013-12-19T03:51:43Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>onesdk1006</Name>\r\n      <Region>East Asia</Region>\r\n      <DefaultKey>zaouTpHDBB/MjDTBjXLTQb6HaKHm0dIrgp7+ejzlZaY=</DefaultKey>\r\n      <Status>Activating</Status>\r\n      <CreatedAt>2013-12-19T03:51:42.977Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://onesdk1006-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://onesdk1006.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <ConnectionString>Endpoint=sb://onesdk1006.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=zaouTpHDBB/MjDTBjXLTQb6HaKHm0dIrgp7+ejzlZaY=</ConnectionString>\r\n      <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
