[
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk3926",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">Request to a downlevel service failed.</string>",
    "ResponseHeaders": {
    },
    "StatusCode": 404
  },
[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:9238b73c-74a3-4072-a562-bc81938afb25;id=5110913</id>\r\n  <updated>2013-12-19T03:44:57Z</updated>\r\n</feed>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/regions",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:9238b73c-74a3-4072-a562-bc81938afb25;id=5110914</id>\r\n  <updated>2013-12-19T03:44:57Z</updated>\r\n  <entry>\r\n    <id>uuid:9238b73c-74a3-4072-a562-bc81938afb25;id=5110915</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:44:57Z</updated>\r\n    <content type=\"application/xml\">\r\n      <RegionCodeDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Code>East Asia</Code>\r\n        <FullName>East Asia</FullName>\r\n      </RegionCodeDescription>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:9238b73c-74a3-4072-a562-bc81938afb25;id=5110916</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:44:57Z</updated>\r\n    <content type=\"application/xml\">\r\n      <RegionCodeDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Code>West Europe</Code>\r\n [...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk8974",
    "RequestMethod": "PUT",
    "RequestBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n      <Region>East Asia</Region>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "RequestHeaders": {
      "type": [
        "entry"
      ],
      "x-ms-version": [
        "2013-07-01"
      ]
    },
    "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5364228</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2013-12-19T03:44:58Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>onesdk8974</Name>\r\n      <Region>East Asia</Region>\r\n      <DefaultKey>KWyUDemTKgqCpZT72D2uj+4zXccTjBLxPSaC23nzVzU=</DefaultKey>\r\n      <Status>Activating</Status>\r\n      <CreatedAt>2013-12-19T03:44:57.917Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://onesdk8974-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://onesdk8974.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <ConnectionString>Endpoint=sb://onesdk8974.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=KWyUDemTKgqCpZT72D2uj+4zXccTjBLxPSaC23nzVzU=</ConnectionString>\r\n      <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk8974",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:282f4591-771a-4c39-b780-5fa87f0921a4;id=5364229</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2013-12-19T03:44:58Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>onesdk8974</Name>\r\n      <Region>East Asia</Region>\r\n      <Status>Activating</Status>\r\n      <CreatedAt>2013-12-19T03:44:57.917Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://onesdk8974-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://onesdk8974.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n      <UpdatedAt>2013-12-19T03:44:57.917Z</UpdatedAt>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
