[
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5174008</id>\r\n  <updated>2013-12-19T03:27:13Z</updated>\r\n  <entry>\r\n    <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5174009</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:27:13Z</updated>\r\n    <content type=\"application/xml\">\r\n      <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Name>onesdk3682</Name>\r\n        <Region>East Asia</Region>\r\n        <Status>Active</Status>\r\n        <CreatedAt>2013-12-19T01:59:37.62Z</CreatedAt>\r\n        <AcsManagementEndpoint>https://onesdk3682-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n        <ServiceBusEndpoint>https://onesdk3682.servicebus.windows.net/</ServiceBusEndpoint>\r\n        <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n        <Enabled>true</Enabled>\r\n        <UpdatedAt>2013-12-19T02:00:14.363Z</UpdatedAt>\r\n      </NamespaceDescription>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5174010</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:27:13Z</updated>\r\n    <content type=\"application/xml\">\r\n      <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Name>onesdk121[...]
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk3682",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5174019</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2013-12-19T03:27:14Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>onesdk3682</Name>\r\n      <Region>East Asia</Region>\r\n      <Status>Active</Status>\r\n      <CreatedAt>2013-12-19T01:59:37.62Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://onesdk3682-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://onesdk3682.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <SubscriptionId>2c224e7e3ef5431da57be71f4662e3a6</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n      <UpdatedAt>2013-12-19T02:00:14.363Z</UpdatedAt>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
  {
    "RequestUri": "https://management.core.windows.net//2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/servicebus/namespaces/onesdk3682/ConnectionDetails",
    "RequestMethod": "GET",
    "RequestBody": "",
    "RequestHeaders": {
      "x-ms-version": [
        "2013-08-01"
      ]
    },
    "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5174020</id>\r\n  <updated>2013-12-19T03:27:17Z</updated>\r\n  <entry>\r\n    <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5174021</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:27:17Z</updated>\r\n    <content type=\"application/xml\">\r\n      <ConnectionDetail xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <KeyName>ACSOwnerKey</KeyName>\r\n        <ConnectionString>Endpoint=sb://onesdk3682.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=wSjCDuTfRgibCJ9RumWp/mgHl9gG38UBmOBV0GgPbI8=</ConnectionString>\r\n        <AuthorizationType>ACSAuthorization</AuthorizationType>\r\n        <Rights>\r\n          <AccessRights>Listen</AccessRights>\r\n          <AccessRights>Manage</AccessRights>\r\n          <AccessRights>Send</AccessRights>\r\n        </Rights>\r\n      </ConnectionDetail>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:e8f9e073-2502-46ed-94ec-937f909c2a5c;id=5174022</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2013-12-19T03:27:17Z</updated>\r\n    <content type=\"application/xml\">\r\n      <ConnectionDetail xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <KeyName>RootManageSharedAccessKey</KeyName>\r\n        <ConnectionString>Endpoint=sb://onesdk3682.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=5hNlMhcVcofDSC3UfK3g9cEton+tWmjh6YLGnqXKiRs=</ConnectionString>\r\n        <SecondaryConnectionString>Endpoint=sb://onesdk3682.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=0QZq9eC8KvdFbmp36lvKaC3ALNX8cLtg5Phm0cbPlSc=</SecondaryConnectionString>\r\n        <AuthorizationType>SharedAccessAuthorization</AuthorizationType>\r\n        <Rights>\r\n          <AccessRights>Listen</AccessRights>\r\n          <AccessRights>Manage</AccessRights>\r\n          <AccessRights>Send</AccessRights>\r\n        </Rights>\r\n      </ConnectionDetail>\r\n    </content>\r\n  </entry>\r\n</feed>",
    "ResponseHeaders": {
      "x-ms-servedbyregion": [
        "ussouth"
      ],
      "Server-SB": [
        "Service-Bus-Resource-Provider/SN1"
      ]
    },
    "StatusCode": 200
  },
[...]
