{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n  <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n  <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n  <GeoRegion>West US</GeoRegion>\r\n  <Resources />\r\n</CloudService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "29730e3e-1926-4025-aa39-43b5cab2c729"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n  <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n  <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n  <GeoRegion>West US</GeoRegion>\r\n  <Resources>\r\n    <Resource>\r\n      <ResourceProviderNamespace>cacheservice</ResourceProviderNamespace>\r\n      <Type>Caching</Type>\r\n      <Name>onesdk6561</Name>\r\n      <SchemaVersion>1.0</SchemaVersion>\r\n      <ETag>e860dfe8-d389-4dfc-8f87-1b7489a34c44</ETag>\r\n      <State>Started</State>\r\n      <SubState>Creating</SubState>\r\n      <UsageMeters />\r\n      <IntrinsicSettings>\r\n        <CacheServiceInput xmlns=\"\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n          <SkuType>Basic</SkuType>\r\n          <Location>West US</Location>\r\n          <SkuCount>1</SkuCount>\r\n          <ServiceVersion>1.2.0</ServiceVersion>\r\n          <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n          <NamedCaches>\r\n            <NamedCache>\r\n              <CacheName>default</CacheName>\r\n              <NotificationsEnabled>false</NotificationsEnabled>\r\n              <HighAvailabilityEnabled>false</HighAvailabilityEnabled>\r\n              <EvictionPolicy>LeastRecentlyUsed</EvictionPolicy>\r\n              <ExpirationSettings>\r\n                <TimeToLiveInMinutes>10</TimeToLiveInMinutes>\r\n                <Type>Absolute</Type>\r\n              </ExpirationSettings>\r\n            </NamedCache>\r\n          </NamedCaches>\r\n        </CacheServiceInput>\r\n      </IntrinsicSettings>\r\n      <OutputItems>\r\n        <OutputItem>\r\n          <Key>CreationDate</Key>\r\n          <Value>5/22/2014 12:05:04 AM +00:00</Value>\r\n        </OutputItem>\r\n      </OutputItems>\r\n      <OperationStatus>\r\n        <Type>Create</Type>\r\n        <Result>Succeeded</Result>\r\n      </OperationStatus>\r\n      <Label />\r\n    </Resource>\r\n  </Resources>\r\n</CloudService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "29730e3e-1926-4025-aa39-43b5cab2c729"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/dummy/Namespaces/onesdk6561",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<boolean xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">true</boolean>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/Caching/onesdk6561",
      "RequestMethod": "PUT",
      "RequestBody": "<Resource xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <IntrinsicSettings>\r\n    <CacheServiceInput xmlns=\"\">\r\n      <SkuType>Basic</SkuType>\r\n      <Location>West US</Location>\r\n      <SkuCount>1</SkuCount>\r\n      <ServiceVersion>1.0.0</ServiceVersion>\r\n      <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n      <NamedCaches />\r\n    </CacheServiceInput>\r\n  </IntrinsicSettings>\r\n</Resource>",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "e860dfe8-d389-4dfc-8f87-1b7489a34c44"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/Caching/onesdk6561",
      "RequestMethod": "PUT",
      "RequestBody": "<Resource xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <IntrinsicSettings>\r\n    <CacheServiceInput xmlns=\"\">\r\n      <SkuType>Basic</SkuType>\r\n      <Location>West US</Location>\r\n      <SkuCount>2</SkuCount>\r\n      <ServiceVersion>1.2.0</ServiceVersion>\r\n      <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n      <NamedCaches>\r\n        <NamedCache>\r\n          <CacheName>default</CacheName>\r\n          <NotificationsEnabled>false</NotificationsEnabled>\r\n          <HighAvailabilityEnabled>false</HighAvailabilityEnabled>\r\n          <EvictionPolicy>LeastRecentlyUsed</EvictionPolicy>\r\n        </NamedCache>\r\n      </NamedCaches>\r\n    </CacheServiceInput>\r\n  </IntrinsicSettings>\r\n</Resource>",
      "RequestHeaders": {
        "If-Match": [
          "e860dfe8-d389-4dfc-8f87-1b7489a34c44"
        ],
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "23"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "24cb0d74-577d-442f-8831-1d3795c8cc4c"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/dff3157cb9cead02a67d2e4c8f960715",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>dff3157c-b9ce-ad02-a67d-2e4c8f960715</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/dff3157cb9cead02a67d2e4c8f960715",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>dff3157c-b9ce-ad02-a67d-2e4c8f960715</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n    <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n    <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <Reso[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/onesdk6561/Keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CachingKeys xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Primary>YWNzOmh0dHBzOi8vb25lc2RrNjU2MTczNjktY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC8vV1JBUHYwLjkvJm93bmVyJmJqUmo5M2tUS0ZuTWdLazBjQmRmUWNHdWNSZEJmbHdaMmxuRzQraTJoT3M9Jmh0dHA6Ly9vbmVzZGs2NTYxLmNhY2hlLndpbmRvd3MubmV0Lw==</Primary>\r\n  <Secondary>YWNzOmh0dHBzOi8vb25lc2RrNjU2MTczNjktY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC8vV1JBUHYwLjkvJm93bmVyJnlnVlh1S01VREUwSnh3NC9HVms5bzNHYjgzRXV0eS9OMG9mY3RBWmRTTFE9Jmh0dHA6Ly9vbmVzZGs2NTYxLmNhY2hlLndpbmRvd3MubmV0Lw==</Secondary>\r\n</CachingKeys>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/onesdk6561/Keys/?comp=regenerate",
      "RequestMethod": "POST",
      "RequestBody": "<RegenerateKeys xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <KeyType>Primary</KeyType>\r\n</RegenerateKeys>",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CachingKeys xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Primary>YWNzOmh0dHBzOi8vb25lc2RrNjU2MTczNjktY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC8vV1JBUHYwLjkvJm93bmVyJi9QU3BEVnZVcldnVHpCeGlYdmpoNGV0Uk92a0Y2b2doZDJVajR4Z05NMWc9Jmh0dHA6Ly9vbmVzZGs2NTYxLmNhY2hlLndpbmRvd3MubmV0Lw==</Primary>\r\n  <Secondary>YWNzOmh0dHBzOi8vb25lc2RrNjU2MTczNjktY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC8vV1JBUHYwLjkvJm93bmVyJnlnVlh1S01VREUwSnh3NC9HVms5bzNHYjgzRXV0eS9OMG9mY3RBWmRTTFE9Jmh0dHA6Ly9vbmVzZGs2NTYxLmNhY2hlLndpbmRvd3MubmV0Lw==</Secondary>\r\n</CachingKeys>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/98d79fb0cdbdaa7d86987cd7530a5b2d",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "42"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>98d79fb0-cdbd-aa7d-8698-7cd7530a5b2d</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ManagedCacheEndToEnd": [
      "onesdk6561"
    ]
  },
  "Variables": {}
}