{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n  <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n  <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n  <GeoRegion>West US</GeoRegion>\r\n  <Resources />\r\n</CloudService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "29730e3e-1926-4025-aa39-43b5cab2c729"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n  <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n  <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n  <GeoRegion>West US</GeoRegion>\r\n  <Resources>\r\n    <Resource>\r\n      <ResourceProviderNamespace>cacheservice</ResourceProviderNamespace>\r\n      <Type>Caching</Type>\r\n      <Name>cachescenariotest</Name>\r\n      <SchemaVersion>1.0</SchemaVersion>\r\n      <ETag>a0b0dc67-04e8-4558-bd5e-ff7917c841d6</ETag>\r\n      <State>Started</State>\r\n      <SubState>Creating</SubState>\r\n      <UsageMeters />\r\n      <IntrinsicSettings>\r\n        <CacheServiceInput xmlns=\"\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n          <SkuType>Basic</SkuType>\r\n          <Location>West US</Location>\r\n          <SkuCount>1</SkuCount>\r\n          <ServiceVersion>1.2.0</ServiceVersion>\r\n          <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n          <NamedCaches>\r\n            <NamedCache>\r\n              <CacheName>default</CacheName>\r\n              <NotificationsEnabled>false</NotificationsEnabled>\r\n              <HighAvailabilityEnabled>false</HighAvailabilityEnabled>\r\n              <EvictionPolicy>LeastRecentlyUsed</EvictionPolicy>\r\n              <ExpirationSettings>\r\n                <TimeToLiveInMinutes>10</TimeToLiveInMinutes>\r\n                <Type>Absolute</Type>\r\n              </ExpirationSettings>\r\n            </NamedCache>\r\n          </NamedCaches>\r\n        </CacheServiceInput>\r\n      </IntrinsicSettings>\r\n      <OutputItems>\r\n        <OutputItem>\r\n          <Key>CreationDate</Key>\r\n          <Value>5/21/2014 9:54:52 PM +00:00</Value>\r\n        </OutputItem>\r\n      </OutputItems>\r\n      <OperationStatus>\r\n        <Type>Create</Type>\r\n        <Result>Succeeded</Result>\r\n      </OperationStatus>\r\n      <Label />\r\n    </Resource>\r\n  </Resources>\r\n</CloudService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "29730e3e-1926-4025-aa39-43b5cab2c729"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/dummy/Namespaces/cachescenariotest",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<boolean xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">true</boolean>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/Caching/cachescenariotest",
      "RequestMethod": "PUT",
      "RequestBody": "<Resource xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <IntrinsicSettings>\r\n    <CacheServiceInput xmlns=\"\">\r\n      <SkuType>Basic</SkuType>\r\n      <Location>West US</Location>\r\n      <SkuCount>1</SkuCount>\r\n      <ServiceVersion>1.0.0</ServiceVersion>\r\n      <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n      <NamedCaches />\r\n    </CacheServiceInput>\r\n  </IntrinsicSettings>\r\n</Resource>",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "a0b0dc67-04e8-4558-bd5e-ff7917c841d6"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/Caching/cachescenariotest",
      "RequestMethod": "PUT",
      "RequestBody": "<Resource xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <IntrinsicSettings>\r\n    <CacheServiceInput xmlns=\"\">\r\n      <SkuType>Basic</SkuType>\r\n      <Location>West US</Location>\r\n      <SkuCount>2</SkuCount>\r\n      <ServiceVersion>1.2.0</ServiceVersion>\r\n      <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n      <NamedCaches>\r\n        <NamedCache>\r\n          <CacheName>default</CacheName>\r\n          <NotificationsEnabled>false</NotificationsEnabled>\r\n          <HighAvailabilityEnabled>false</HighAvailabilityEnabled>\r\n          <EvictionPolicy>LeastRecentlyUsed</EvictionPolicy>\r\n        </NamedCache>\r\n      </NamedCaches>\r\n    </CacheServiceInput>\r\n  </IntrinsicSettings>\r\n</Resource>",
      "RequestHeaders": {
        "If-Match": [
          "a0b0dc67-04e8-4558-bd5e-ff7917c841d6"
        ],
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "24"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "33ec6eaf-19d9-4427-b746-8bde4a8fecd5"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/09ce51776f7aa565b181558888d1f19a",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>09ce5177-6f7a-a565-b181-558888d1f19a</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/09ce51776f7aa565b181558888d1f19a",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>09ce5177-6f7a-a565-b181-558888d1f19a</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n    <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n    <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <Reso[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/cachescenariotest/Keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CachingKeys xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Primary>YWNzOmh0dHBzOi8vY2FjaGVzY2VuYXJpb3Rlc3Q1Mjc4LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZ3WWlSTnpmZ0U1K2dESENuQnR0SjFWTXlDSVZneU5kWUMvajE1Y1F4U3ljPSZodHRwOi8vY2FjaGVzY2VuYXJpb3Rlc3QuY2FjaGUud2luZG93cy5uZXQv</Primary>\r\n  <Secondary>YWNzOmh0dHBzOi8vY2FjaGVzY2VuYXJpb3Rlc3Q1Mjc4LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZLcGJyZ2ZWa09nZVRteERUT3ZiQjVNTXNKVTFtK2hDWWlKbkczdVE3MHdnPSZodHRwOi8vY2FjaGVzY2VuYXJpb3Rlc3QuY2FjaGUud2luZG93cy5uZXQv</Secondary>\r\n</CachingKeys>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/cachescenariotest/Keys/?comp=regenerate",
      "RequestMethod": "POST",
      "RequestBody": "<RegenerateKeys xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <KeyType>Primary</KeyType>\r\n</RegenerateKeys>",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CachingKeys xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Primary>YWNzOmh0dHBzOi8vY2FjaGVzY2VuYXJpb3Rlc3Q1Mjc4LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZjQ1RaQUNTa21yUFQzRDJyUUhXMXZYWVMzNXhtcFIrVHBKTUVsWU5obXhBPSZodHRwOi8vY2FjaGVzY2VuYXJpb3Rlc3QuY2FjaGUud2luZG93cy5uZXQv</Primary>\r\n  <Secondary>YWNzOmh0dHBzOi8vY2FjaGVzY2VuYXJpb3Rlc3Q1Mjc4LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZLcGJyZ2ZWa09nZVRteERUT3ZiQjVNTXNKVTFtK2hDWWlKbkczdVE3MHdnPSZodHRwOi8vY2FjaGVzY2VuYXJpb3Rlc3QuY2FjaGUud2luZG93cy5uZXQv</Secondary>\r\n</CachingKeys>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/93f3a584681baca3819166857a58dc4f",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "42"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>93f3a584-681b-aca3-8191-66857a58dc4f</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}