{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n  <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n  <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n  <GeoRegion>West US</GeoRegion>\r\n  <Resources />\r\n</CloudService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "29730e3e-1926-4025-aa39-43b5cab2c729"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n  <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n  <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n  <GeoRegion>West US</GeoRegion>\r\n  <Resources>\r\n    <Resource>\r\n      <ResourceProviderNamespace>cacheservice</ResourceProviderNamespace>\r\n      <Type>Caching</Type>\r\n      <Name>cachescenariotest</Name>\r\n      <SchemaVersion>1.0</SchemaVersion>\r\n      <ETag>5a84b31d-646c-4522-95e6-80d3a43f0347</ETag>\r\n      <State>Started</State>\r\n      <SubState>Creating</SubState>\r\n      <UsageMeters />\r\n      <IntrinsicSettings>\r\n        <CacheServiceInput xmlns=\"\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n          <SkuType>Basic</SkuType>\r\n          <Location>West US</Location>\r\n          <SkuCount>1</SkuCount>\r\n          <ServiceVersion>1.2.0</ServiceVersion>\r\n          <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n          <NamedCaches>\r\n            <NamedCache>\r\n              <CacheName>default</CacheName>\r\n              <NotificationsEnabled>false</NotificationsEnabled>\r\n              <HighAvailabilityEnabled>false</HighAvailabilityEnabled>\r\n              <EvictionPolicy>LeastRecentlyUsed</EvictionPolicy>\r\n              <ExpirationSettings>\r\n                <TimeToLiveInMinutes>10</TimeToLiveInMinutes>\r\n                <Type>Absolute</Type>\r\n              </ExpirationSettings>\r\n            </NamedCache>\r\n          </NamedCaches>\r\n        </CacheServiceInput>\r\n      </IntrinsicSettings>\r\n      <OutputItems>\r\n        <OutputItem>\r\n          <Key>CreationDate</Key>\r\n          <Value>5/21/2014 4:51:42 AM +00:00</Value>\r\n        </OutputItem>\r\n      </OutputItems>\r\n      <OperationStatus>\r\n        <Type>Create</Type>\r\n        <Result>Succeeded</Result>\r\n      </OperationStatus>\r\n      <Label />\r\n    </Resource>\r\n  </Resources>\r\n</CloudService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "29730e3e-1926-4025-aa39-43b5cab2c729"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/dummy/Namespaces/cachescenariotest",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<boolean xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">true</boolean>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/Caching/cachescenariotest",
      "RequestMethod": "PUT",
      "RequestBody": "<Resource xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <IntrinsicSettings>\r\n    <CacheServiceInput xmlns=\"\">\r\n      <SkuType>Basic</SkuType>\r\n      <Location>West US</Location>\r\n      <SkuCount>1</SkuCount>\r\n      <ServiceVersion>1.0.0</ServiceVersion>\r\n      <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n      <NamedCaches />\r\n    </CacheServiceInput>\r\n  </IntrinsicSettings>\r\n</Resource>",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "ETag": [
          "5a84b31d-646c-4522-95e6-80d3a43f0347"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/Caching/cachescenariotest",
      "RequestMethod": "PUT",
      "RequestBody": "<Resource xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <IntrinsicSettings>\r\n    <CacheServiceInput xmlns=\"\">\r\n      <SkuType>Basic</SkuType>\r\n      <Location>West US</Location>\r\n      <SkuCount>2</SkuCount>\r\n      <ServiceVersion>1.2.0</ServiceVersion>\r\n      <ObjectSizeInBytes>1024</ObjectSizeInBytes>\r\n      <NamedCaches>\r\n        <NamedCache>\r\n          <CacheName>default</CacheName>\r\n          <NotificationsEnabled>false</NotificationsEnabled>\r\n          <HighAvailabilityEnabled>false</HighAvailabilityEnabled>\r\n          <EvictionPolicy>LeastRecentlyUsed</EvictionPolicy>\r\n        </NamedCache>\r\n      </NamedCaches>\r\n    </CacheServiceInput>\r\n  </IntrinsicSettings>\r\n</Resource>",
      "RequestHeaders": {
        "If-Match": [
          "5a84b31d-646c-4522-95e6-80d3a43f0347"
        ],
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "180"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth"
        ],
        "ETag": [
          "d73be465-3f01-45d4-922d-bb4fcf4a3958"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/ca6d18d1b1c7a5c799d8fc7ed30e961c",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>ca6d18d1-b1c7-a5c7-99d8-fc7ed30e961c</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/ca6d18d1b1c7a5c799d8fc7ed30e961c",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>ca6d18d1-b1c7-a5c7-99d8-fc7ed30e961c</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/CloudServices",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Name>\r\n    <Label>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Label>\r\n    <Description>CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US</Description>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <Reso[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/cachescenariotest/Keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CachingKeys xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Primary>YWNzOmh0dHBzOi8vY2FjaGVzY2VuYXJpb3Rlc3Q3MDI3LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZpTTcvMkdld3FSUWI5cGVob09uV29GVmhxd2tuWmtwTDRmK1hLdVNERkJRPSZodHRwOi8vY2FjaGVzY2VuYXJpb3Rlc3QuY2FjaGUud2luZG93cy5uZXQv</Primary>\r\n  <Secondary>YWNzOmh0dHBzOi8vY2FjaGVzY2VuYXJpb3Rlc3Q3MDI3LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZJcURkZkZ4QkNWQnQzYzBwVVNveU9NbjdTd21BemlDSXlFS2FtYXZweUxJPSZodHRwOi8vY2FjaGVzY2VuYXJpb3Rlc3QuY2FjaGUud2luZG93cy5uZXQv</Secondary>\r\n</CachingKeys>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/CachingP2VBRNX3ZH3GXC5MWKW5VS3K5J4T7XSMRHBCI2OMUCUGDVAVQXXA-West-US/resources/cacheservice/~/Caching/cachescenariotest/Keys/?comp=regenerate",
      "RequestMethod": "POST",
      "RequestBody": "<RegenerateKeys xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <KeyType>Primary</KeyType>\r\n</RegenerateKeys>",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ]
      },
      "ResponseBody": "<CachingKeys xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Primary>YWNzOmh0dHBzOi8vY2FjaGVzY2VuYXJpb3Rlc3Q3MDI3LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZHNVRYeWorN1NZUzhqYXRUd2hTcXFJREE1WmZSZi9iak4xZ20yMVdMY0M4PSZodHRwOi8vY2FjaGVzY2VuYXJpb3Rlc3QuY2FjaGUud2luZG93cy5uZXQv</Primary>\r\n  <Secondary>YWNzOmh0dHBzOi8vY2FjaGVzY2VuYXJpb3Rlc3Q3MDI3LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZJcURkZkZ4QkNWQnQzYzBwVVNveU9NbjdTd21BemlDSXlFS2FtYXZweUxJPSZodHRwOi8vY2FjaGVzY2VuYXJpb3Rlc3QuY2FjaGUud2luZG93cy5uZXQv</Secondary>\r\n</CachingKeys>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operations/c6725f6ba86dae41ad5d9962fc1c33a4",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2012-08-01"
        ],
        "client-tracking-id": [
          "313"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>c6725f6b-a86d-ae41-ad5d-9962fc1c33a4</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}