{
  "Entries": [
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/onesdk2678?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31945"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-GetResourcesFromNonExisingGroup": [
      "onesdk2678"
    ]
  }
}