{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices?resourceType=AutomationAccount&detailLevel=Full&resourceProviderNamespace=automation",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>OaaSCSZV2MEWJSFZEUBUOS6RFER33W6CF6HZFLIHTKWAXRNBGWIHNJEUXQ-East-US</Name>\r\n    <Label>OaaSCSZV2MEWJSFZEUBUOS6RFER33W6CF6HZFLIHTKWAXRNBGWIHNJEUXQ-East-US</Label>\r\n    <Description>OaaSCSZV2MEWJSFZEUBUOS6RFER33W6CF6HZFLIHTKWAXRNBGWIHNJEUXQ-East-US in East US</Description>\r\n    <GeoRegion>East US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>automation</ResourceProviderNamespace>\r\n        <Type>AutomationAccount</Type>\r\n        <Name>Automation509</Name>\r\n        <Plan>Preview</Plan>\r\n        <SchemaVersion>1.1</SchemaVersion>\r\n        <ETag>c1251ced-1d0f-4cd8-9a9d-2b452f4283d2</ETag>\r\n        <State>Started</State>\r\n        <SubState />\r\n        <OperationStatus>\r\n          <Type>Create</Type>\r\n          <Result>Succeeded</Result>\r\n        </OperationStatus>\r\n        <Label />\r\n      </Resource>\r\n      <Resource>\r\n        <ResourceProviderNamespace>automation</ResourceProviderNamespace>\r\n        <Type>AutomationAccount</Type>\r\n        <Name>elvgAccount</Name>\r\n        <Plan>Preview</Plan>\r\n        <SchemaVersion>1.1</SchemaVersion>\r\n        <ETag>5692ec51-f3da-4795-a2a4-602c5919b91f</ETag>\r\n        <State>Started</State>\r\n        <SubState />\r\n        <OperationStatus>\r\n     [...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks?$expand=Schedules&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#Runbooks\",\r\n  \"value\": [\r\n    {\r\n      \"Schedules\": [\r\n        {\r\n          \"odata.type\": \"AutomationApi.V2014_03_13.OneTimeSchedule\",\r\n          \"ScheduleID\": \"837eaad3-2043-4a2d-995d-bea247ab8378\",\r\n          \"AccountID\": \"18bcf3ce-b68c-462e-b640-c8386d43d30c\",\r\n          \"Name\": \"s01\",\r\n          \"Description\": null,\r\n          \"StartTime\": \"2014-04-30T06:30:00\",\r\n          \"ExpiryTime\": \"2014-04-30T06:30:00\",\r\n          \"CreationTime\": \"2014-04-29T00:00:34.637\",\r\n          \"LastModifiedTime\": \"2014-04-29T00:00:34.637\",\r\n          \"IsEnabled\": true,\r\n          \"NextRun\": null\r\n        }\r\n      ],\r\n      \"#OrchestratorApi.Publish\": {},\r\n      \"#OrchestratorApi.Edit\": {},\r\n      \"AccountID\": \"18bcf3ce-b68c-462e-b640-c8386d43d30c\",\r\n      \"RunbookID\": \"17c9a137-d057-459d-bde3-68a5da1ff9b0\",\r\n      \"RunbookName\": \"myrunbook3\",\r\n      \"CreationTime\": \"2014-04-24T23:44:33\",\r\n      \"LastModifiedTime\": \"2014-04-24T23:44:57.683\",\r\n      \"LastModifiedBy\": \"oaastest@live.com\",\r\n      \"Description\": null,\r\n      \"IsApiOnly\": false,\r\n      \"IsGlobal\": false,\r\n      \"PublishedRunbookVersionID\": \"3f4a63e6-8ee2-4a0e-8d1c-9088af655a8b\",\r\n      \"DraftRunbookVersionID\": \"c465d82a-bf38-4cb2-98b9-510485641f3f\",\r\n      \"Tags\": null,\r\n      \"LogDebug\": false,\r\n      \"LogVerbose\": false,\r\n      \"LogProgress\": false\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/RunbookVersions?api-version=2014-03-13_Preview",
      "RequestMethod": "POST",
      "RequestBody": "workflow fastJob\r\n{\r\n    param([int[]] $nums)\r\n    $sum=($nums | Measure-Object -Sum).Sum\r\n    echo $sum\r\n}",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#RunbookVersions/@Element\",\r\n  \"odata.mediaReadLink\": \"RunbookVersions(guid'587b7bad-5aa1-45ec-bb97-892d4e285f19')/$value\",\r\n  \"odata.mediaContentType\": \"application/octet-stream\",\r\n  \"odata.mediaETag\": \"\\\"635375021033230000\\\"\",\r\n  \"AccountID\": \"18bcf3ce-b68c-462e-b640-c8386d43d30c\",\r\n  \"RunbookVersionID\": \"587b7bad-5aa1-45ec-bb97-892d4e285f19\",\r\n  \"RunbookID\": \"00000000-0000-0000-0000-000000000000\",\r\n  \"VersionNumber\": 0,\r\n  \"IsDraft\": false,\r\n  \"CreationTime\": \"0001-01-01T00:00:00\",\r\n  \"LastModifiedTime\": \"0001-01-01T00:00:00\"\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-location": [
          "https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/RunbookVersions(guid'587b7bad-5aa1-45ec-bb97-892d4e285f19')"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/RunbookVersions(guid'587b7bad-5aa1-45ec-bb97-892d4e285f19')?api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      }[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'cc0c4381-fa6d-493b-90e0-5e9ebcd61817')?$expand=Schedules&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
      [...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'cc0c4381-fa6d-493b-90e0-5e9ebcd61817')?api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
     [...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'cc0c4381-fa6d-493b-90e0-5e9ebcd61817')/Publish?api-version=2014-03-13_Preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-automation-client-request-user-identity": [
          "PowerShell"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#Edm.Guid\",\r\n  \"value\": \"13711acf-ffad-43c3-962c-f01b113393f9\"\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/RunbookParameters?$filter=RunbookVersionID%20eq%20guid'13711acf-ffad-43c3-962c-f01b113393f9'&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#RunbookParameters\",\r\n  \"value\": [\r\n    {\r\n      \"RunbookVersionID\": \"13711acf-ffad-43c3-962c-f01b113393f9\",\r\n      \"Name\": \"nums\",\r\n      \"Type\": \"System.Int32[]\",\r\n      \"IsMandatory\": false,\r\n      \"Position\": 0\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'cc0c4381-fa6d-493b-90e0-5e9ebcd61817')/Start?api-version=2014-03-13_Preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"parameters\": [\r\n    {\r\n      \"Name\": \"nums\",\r\n      \"Value\": \"[1,2,3,4,5,6,7]\"\r\n    },\r\n    {\r\n      \"Name\": \"MicrosoftApplicationManagementStartedBy\",\r\n      \"Value\": \"PowerShell\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#Edm.Guid\",\r\n  \"value\": \"3aa37d72-d341-4780-b56e-645b5be67a4f\"\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Jobs(guid'3aa37d72-d341-4780-b56e-645b5be67a4f')?$expand=JobContext/RunbookVersion/Runbook,JobContext/Schedule,JobContext/JobParameters&$select=JobID,JobContextID,AccountID,JobStatus,JobStatusDetails,StartTime,EndTime,CreationTime,LastModifiedTime,LastStatusModifiedTime,JobException,JobContext/RunbookVersion/Runbook/RunbookID,JobContext/RunbookVersion/Runbook/Ru[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/JobStreams/GetStreamItems?jobId='3aa37d72-d341-4780-b56e-645b5be67a4f'&streamsCreatedSinceDateTime='1/1/0001%208:00:00%20AM'&$filter=StreamTypeName%20eq%20'Output'&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/OrchestratorStreamService.svc/2014_03_13/$metadata#Stream\",\r\n  \"value\": [\r\n    {\r\n      \"JobId\": \"3aa37d72-d341-4780-b56e-645b5be67a4f\",\r\n      \"NameValues\": [\r\n        {\r\n          \"Name\": \"value\",\r\n          \"NameValueInner\": [],\r\n          \"Value\": \"28\"\r\n        },\r\n        {\r\n          \"Name\": \"PSComputerName\",\r\n          \"NameValueInner\": [],\r\n          \"Value\": \"localhost\"\r\n        },\r\n        {\r\n          \"Name\": \"PSShowComputerName\",\r\n          \"NameValueInner\": [],\r\n          \"Value\": \"True\"\r\n        },\r\n        {\r\n          \"Name\": \"PSSourceJobInstanceId\",\r\n          \"NameValueInner\": [],\r\n          \"Value\": \"3aa37d72-d341-4780-b56e-645b5be67a4f\"\r\n        }\r\n      ],\r\n      \"RunbookVersionId\": \"13711acf-ffad-43c3-962c-f01b113393f9\",\r\n      \"StreamTypeName\": \"Output\",\r\n      \"AccountId\": \"18bcf3ce-b68c-462e-b640-c8386d43d30c\",\r\n      \"StreamTime\": \"2014-06-04T18:09:26.0974335Z\",\r\n      \"StreamText\": \"28\\r\\n\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks?$filter=RunbookName%20eq%20'fastJob'&$expand=Schedules&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
   [...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'cc0c4381-fa6d-493b-90e0-5e9ebcd61817')?api-version=2014-03-13_Preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}