{
  "Entries": [
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/services/storageservices",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<StorageServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <StorageService>\r\n    <Url>https://management.core.windows.net/16adf039-ace2-4685-b35b-917bd564b01e/services/storageservices/portalvhds07psl99qpmq2l</Url>\r\n    <ServiceName>portalvhds07psl99qpmq2l</ServiceName>\r\n    <StorageServiceProperties>\r\n      <Description>Implicitly created storage service</Description>\r\n      <Location>Central US</Location>\r\n      <Label>cG9ydGFsdmhkczA3cHNsOTlxcG1xMmw=</Label>\r\n      <Status>Created</Status>\r\n      <Endpoints>\r\n        <Endpoint>https://portalvhds07psl99qpmq2l.blob.core.windows.net/</Endpoint>\r\n        <Endpoint>https://portalvhds07psl99qpmq2l.queue.core.windows.net/</Endpoint>\r\n        <Endpoint>https://portalvhds07psl99qpmq2l.table.core.windows.net/</Endpoint>\r\n      </Endpoints>\r\n      <GeoReplicationEnabled>true</GeoReplicationEnabled>\r\n      <GeoPrimaryRegion>Central US</GeoPrimaryRegion>\r\n      <StatusOfPrimary>Available</StatusOfPrimary>\r\n      <GeoSecondaryRegion>East US 2</GeoSecondaryRegion>\r\n      <StatusOfSecondary>Available</StatusOfSecondary>\r\n      <CreationTime>2013-08-22T01:41:49Z</CreationTime>\r\n      <CustomDomains />\r\n      <SecondaryReadEnabled>false</SecondaryReadEnabled>\r\n    </StorageServiceProperties>\r\n    <ExtendedProperties>\r\n      <ExtendedProperty>\r\n        <Name>ResourceGroup</Name>\r\n        <Value>Default-Storage-CentralUS</Value>\r\n      </ExtendedProperty>\r\n      <ExtendedProperty>\r\n        <Name>ResourceLocation</Name>\r\n        <Value>Central US</Value>\r\n      </ExtendedProperty>\r\n    </ExtendedProperties>\r\n  </StorageService>\r\n  <StorageService>\r\n    <Url>https://management.core.windows.net/16adf039-ace2-4685-b35b-917bd564b01e/services/storageservices/portalvhdsdvtwblljjtm2n</Url>\r\n    <ServiceName>portalvhdsdvtwblljjtm2n</ServiceName>\r\n    <StorageServiceProperti[...]
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/operations/d10667da6aaeb0679e9afe74961442b6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>d10667da-6aae-b067-9e9a-fe74961442b6</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/services/storageservices/portalvhds07psl99qpmq2l",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>BadRequest</Code>\r\n  <Message>Storage account portalvhds07psl99qpmq2l has  container(s) which have an active image and/or disk artifacts. Ensure those artifacts are removed from the image repository before deleting this storage account.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 400
    },
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/services/hostedservices",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-06-01"
        ]
      },
      "ResponseBody": "<HostedServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <HostedService>\r\n    <Url>https://management.core.windows.net/16adf039-ace2-4685-b35b-917bd564b01e/services/hostedservices/onesdk7431</Url>\r\n    <ServiceName>onesdk7431</ServiceName>\r\n    <HostedServiceProperties>\r\n      <Description i:nil=\"true\" />\r\n      <Location>East Asia</Location>\r\n      <Label>b25lc2RrNzQzMQ==</Label>\r\n      <Status>Created</Status>\r\n      <DateCreated>2014-07-08T18:41:58Z</DateCreated>\r\n      <DateLastModified>2014-07-08T18:42:07Z</DateLastModified>\r\n      <ExtendedProperties>\r\n        <ExtendedProperty>\r\n          <Name>ResourceGroup</Name>\r\n          <Value>onesdk7431</Value>\r\n        </ExtendedProperty>\r\n        <ExtendedProperty>\r\n          <Name>ResourceLocation</Name>\r\n          <Value>East Asia</Value>\r\n        </ExtendedProperty>\r\n      </ExtendedProperties>\r\n      <ReverseDnsFqdn>onesdk7431.cloudapp.net.</ReverseDnsFqdn>\r\n    </HostedServiceProperties>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n  </HostedService>\r\n</HostedServices>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/services/hostedservices/onesdk7431?embed-detail=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-06-01"
        ]
      },
      "ResponseBody": "<HostedService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/16adf039-ace2-4685-b35b-917bd564b01e/services/hostedservices/onesdk7431</Url>\r\n  <ServiceName>onesdk7431</ServiceName>\r\n  <HostedServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>East Asia</Location>\r\n    <Label>b25lc2RrNzQzMQ==</Label>\r\n    <Status>Created</Status>\r\n    <DateCreated>2014-07-08T18:41:58Z</DateCreated>\r\n    <DateLastModified>2014-07-08T18:42:07Z</DateLastModified>\r\n    <ExtendedProperties>\r\n      <ExtendedProperty>\r\n        <Name>ResourceGroup</Name>\r\n        <Value>onesdk7431</Value>\r\n      </ExtendedProperty>\r\n      <ExtendedProperty>\r\n        <Name>ResourceLocation</Name>\r\n        <Value>East Asia</Value>\r\n      </ExtendedProperty>\r\n    </ExtendedProperties>\r\n    <ReverseDnsFqdn>onesdk7431.cloudapp.net.</ReverseDnsFqdn>\r\n  </HostedServiceProperties>\r\n  <Deployments />\r\n</HostedService>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/services/hostedservices/onesdk7431",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>East Asia</Name>\r\n    <DisplayName>East Asia</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>[...]
[...]
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/services/hostedservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateHostedService xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>onesdk15</ServiceName>\r\n  <Label>b25lc2RrMTU=</Label>\r\n  <Location>East Asia</Location>\r\n  <ExtendedProperties />\r\n  <ReverseDnsFqdn>onesdk15.cloudapp.net.</ReverseDnsFqdn>\r\n</CreateHostedService>",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/16adf039-ace2-4685-b35b-917bd564b01e/compute/onesdk15"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/services/hostedservices/onesdk15",
      "RequestMethod": "PUT",
      "RequestBody": "<UpdateHostedService xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ReverseDnsFqdn></ReverseDnsFqdn>\r\n  <ExtendedProperties />\r\n</UpdateHostedService>",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/16adf039-ace2-4685-b35b-917bd564b01e/operations/d2e2a735cc45b87fb66f1757af3ee7ff",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>d2e2a735-cc45-b87f-b66f-1757af3ee7ff</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SetAzureServiceWithEmptyReverseDnsFqdn": [
      "onesdk15"
    ]
  },
  "Variables": {}
}