{
  "Entries": [
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers?&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ApiManagement\",\r\n      \"namespace\": \"Microsoft.ApiManagement\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"service\",\r\n          \"locations\": [\r\n            \"North Central US\",\r\n            \"East US\",\r\n            \"West US\",\r\n            \"North Europe\",\r\n            \"West Europe\",\r\n            \"East Asia\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Batch\",\r\n      \"namespace\": \"Microsoft.Batch\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"batchAccounts\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"North Central US\",\r\n            \"South Central US\",\r\n            \"Central US\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/microsoft.cache/unregister?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/microsoft.cache\",\r\n  \"namespace\": \"microsoft.cache\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"Redis\",\r\n      \"locations\": [\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"West US\",\r\n        \"East US\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"quotas\",\r\n      \"locations\": [\r\n        \"\"\r\n      ]\r\n    }\r\n  ],\r\n  \"registrationState\": \"Unregistering\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Microsoft.Gallery/galleryitems/Microsoft.Cache.0.4.0-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"identity\": \"Microsoft.Cache.0.4.0-preview\",\r\n  \"publisher\": \"Microsoft\",\r\n  \"publisherDisplayName\": \"Microsoft\",\r\n  \"itemName\": \"Cache\",\r\n  \"itemDisplayName\": \"Redis Cache (Preview)\",\r\n  \"version\": \"0.4.0-preview\",\r\n  \"summary\": \"Distributed, in-memory Redis Cache service for modern cloud applications\",\r\n  \"longSummary\": null,\r\n  \"description\": \"<p>Microsoft Azure Redis Cache (preview) is based on the popular <a href=\\\"http://redis.io/\\\" target=\\\"_blank\\\">open source Redis Cache</a>. It gives users access to a secure, dedicated Redis Cache, managed by Microsoft.  Users get the best of both worlds, the rich Redis feature set and ecosystem, and reliable hosting and monitoring from Microsoft.</p>\\n<p>Microsoft Azure Redis Cache (Preview) is available in two tiers:</p>\\n<ul>\\n<li>Basic – A single Cache node.</li>\\n<li>Standard – A replicated Cache (Two nodes, Master and a Slave).</li>\\n</ul>\\n<p>Microsoft Azure Redis Cache helps your application stay responsive even as user load increases. It does so, by leveraging the low latency, high-throughput capabilities of the Redis engine. This separate distributed cache layer allows your data tier to scale independently for more efficient use of compute resources in your application layer.</p>\",\r\n  \"resourceGroupName\": null,\r\n  \"definitionTemplates\": {\r\n    \"uiDefinitionFileUrl\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/UIDefinition.json\",\r\n    \"defaultDeploymentTemplateId\": \"justRedis\",\r\n    \"deploymentTemplateFileUrls\": {\r\n      \"justRedis\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/DeploymentTemplates/NewRedisCache.json\"\r\n    }\r\n  },\r\n  \"categoryIds\": [\r\n    \"data\",\r\n    \"dataService\"\r\n  ],\r\n  \"screenshotUrls\": [\r\n    \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/Screenshots/Image01.png\"\r\n  ],\r\n  \"links\": [\r\n    {\r\n      \"id\": \"overview\",\r\n      \"displayName\": \"Service Overview\",\r\n      \"uri\": \"http://aka.ms/q862hz\"\r\n    },\r\n    {\r\n      \"id\": \"documentation\",\r\n      \"displayName\": \"Documentation\",\r\n      \"uri\": \"http://aka.ms/e7e1a0\"\r\n    },\r\n    {\r\n      \"id\": \"pricing\",\r\n      \"displayName\": \"Pricing details\",\r\n      \"uri\": \"http://aka.ms/ss7n6y\"\r\n    }\r\n  ],\r\n  \"iconFileUrls\": {\r\n    \"small\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/Icons/Small.master.png\",\r\n    \"medium\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/Icons/Medium.master.png\",\r\n    \"large\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/Icons/Large.master.png\",\r\n    \"wide\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/Icons/Wide.master.png\",\r\n    \"hero\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-version": [
          "4.7.0.33 (adad9d4.140716-1839)"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/onesdk8116?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31998"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/onesdk8116?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/onesdk8116\",\r\n  \"name\": \"onesdk8116\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/onesdk8116/deployments/Microsoft.Cache.0.4.0-preview/validate?&api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"templateLink\": {\r\n      \"uri\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/DeploymentTemplates/NewRedisCache.json\"\r\n    },\r\n    \"parameters\": {\r\n      \"cacheLocation\": {\r\n        \"value\": \"West US\"\r\n      },\r\n      \"cacheName\": {\r\n        \"value\": \"onesdk5359\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/onesdk8116/deployments/Microsoft.Cache.0.4.0-preview\",\r\n  \"name\": \"Microsoft.Cache.0.4.0-preview\",\r\n  \"properties\": {\r\n    \"templateLink\": {\r\n      \"uri\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/DeploymentTemplates/NewRedisCache.json\",\r\n      \"contentVersion\": \"1.0.0.0\"\r\n    },\r\n    \"parameters\": {\r\n      \"cacheLocation\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"West US\"\r\n      },\r\n      \"cacheName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"onesdk5359\"\r\n      },\r\n      \"size\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"C0\"\r\n      },\r\n      \"sku\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Standard\"\r\n      },\r\n      \"version\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"2.8\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2014-08-05T22:31:16.7672832Z\",\r\n    \"correlationId\": \"1224f596-db10-41a4-8f33-901743f2157b\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Cache\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"Redis\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/onesdk8116/deployments/Microsoft.Cache.0.4.0-preview?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"templateLink\": {\r\n      \"uri\": \"https://gallerystoreprodch.blob.core.windows.net/prod-microsoft-windowsazure-gallery/8D6B920B-10F4-4B5A-B3DA-9D398FBCF3EE.PUBLICGALLERYITEMS.MICROSOFT.CACHE.0.4.0-PREVIEW/DeploymentTemplates/NewRe[...]
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/onesdk8116/deployments/Microsoft.Cache.0.4.0-preview/operations?&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/onesdk8116/deployments/Microsoft.Cache.0.4.0-preview/operations?&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/onesdk8116/deployments/Microsoft.Cache.0.4.0-preview/operations/C76AC8F0C6D04322\",\r\n      \"operationId\": \"C76AC8F0C6D04322\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Running\",\r\n        \"timestamp\": \"2014-08-05T22:31:26.8162187Z\",\r\n        \"trackingId\": \"b03bbff1-6154-49ff-9016-338f072ef0f2\",\r\n        \"statusCode\": \"Created\",\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/onesdk8116/providers/Microsoft.Cache/Redis/onesdk5359\",\r\n          \"resourceType\": \"Microsoft.Cache/Redis\",\r\n          \"resourceName\": \"onesdk5359\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31989"
        ]
      },
      "StatusCode": 200
    },
[...]
